mattermost/data
mattermost/mattermost/certs
mattermost/docker-compose.override.yml
mattermost/docker-compose.override.yaml
mattermost/volumes/mattermost/logs/
.idea
info.txt

Token Description: uus
Token ID: 6xbkod1xojnupn6gutujiohiny
Access Token: 6kdoa54cq7yi5rsosftxisjz3e